extends layout

block content
 div.ui

  h2#time Here is the time (10:30!)
  div#weatherholder
   i#weathericon(class="")
   p#weather Text goes here!
 div#emotionholder
  div#emotions(class="neutral emotions")
  div.holders
    button#sendbutton Send
    canvas#photo(width='320' height='240')
    img#photoimg(width='320' height='240')

    video#camera(width='320' height='240')
    
    div#feedback

  
  
  
 