doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Quicksand')
    script(src='/javascripts/canvas-blob.js')
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/main.js')
    script(src='/javascripts/moment.js')
    script(src='/javascripts/sugar.js')
    script(src='/javascripts/weather.js')
    
  body
    block content
